[Desktop Entry]
Type=Application
Name=Zed Dev Container
Icon=zed
Exec=/home/ai/Projects/env/bin/zed-isolate %F
MimeType=inode/directory;
Categories=Utility;TextEditor;Development;IDE;
